@import "tailwindcss";

body {
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes bounceDown {
  0%,
  100% {
    transform: translateY(-5px);
    opacity: 0.3;
  }
  50% {
    transform: translateY(2px);
    opacity: 1;
  }
}

@theme {
  --animate-bounce-slow: bounceDown 1.8s ease-in-out infinite;
}
